<template>
    <div class="row justify-center window-height">
      <div class="self-center col-6" >
        <q-field
        >
          <q-input stack-label="Username" v-model="username" width="500"/>
        </q-field>
        <q-field
        >
          <q-input stack-label="Password" type="password" v-model="password" />
        </q-field>
        <q-btn large color="primary" class="full-width" @click="signIn()">Sign In</q-btn>
        <div class="float-right" style="padding: 5px 0">
          <a @click="$refs.registerModal.open()">Register new user</a>
        </div>
      </div>
      <q-modal
        ref="registerModal"
        position="top"
        :content-css="{padding: '15px'}"
        >
        <strong>Register User</strong>
        <div class="clear" style="margin: 10px 0">
          <q-field
        >
            <q-input stack-label="Username" v-model="rusername"/>
          </q-field>
          <q-field
        >
            <q-input stack-label="Email" v-model="remail"/>
          </q-field>
          <q-field
          >
            <q-input stack-label="Password" type="password" v-model="rpassword" />
          </q-field>
          <q-btn large color="primary" class="full-width" @click="register()">Register</q-btn>
        </div>
        <q-btn color="primary" class="full-width" @click="$refs.registerModal.close()">Cancel</q-btn>
      </q-modal>
    </div>
</template>

<script>
import { Loading, Toast } from 'quasar'
import Service from '../service'

export default {
  data () {
    return {
      username: '',
      email: '',
      password: '',
      rusername: '',
      remail: '',
      rpassword: ''
    }
  },
  methods: {
    signIn () {
      Loading.show({
        message: 'Logging in, please wait'
      })
      let data = {
        username: this.username,
        email: this.email,
        password: this.password
      }
      Service.auth(data)
        .then((res) => {
          Loading.hide()
          if (res.status && res.status !== 200) {
            if (res.data.errors) {
              Toast.create.negative({
                html: res.data.errors.message
              })
            }
            else {
              Toast.create.negative({
                html: res.data.message
              })
            }
          }
          else {
            // router redirect :(
          }
        })
        .catch((err) => {
          console.log('err: ', err)
          Loading.hide()
          Toast.create.negative({
            html: 'Error processing'
          })
        })
    },

    register () {
      console.log('register')
    }
  },

  watch: {
    username () {
      this.email = this.username
    }
  }
}
</script>
